<div class="content">
			<div class="box">
				<img alt="crédibilité d'un site internet" src="./asset/img/icon_credibilite.png" />
				<h1>Crédibilité</h1>
				<p>Vos clients potentiels seront grandement plus rassuré à la vue de votre site internet. Ils pourront alors découvrir vos services et vous contacter de façon simple et rapide !</p>
			</div>
			<div class="box">
				<img alt="visibilité d'un site internet" src="./asset/img/icon_visibilite.png" />
				<h1>Visibilité</h1>
				<p>Nous arrivons dans une ère où le monde professionnel tourne autour du Web. Faire partie de ce réseau permet une visibilité accrue sur votre activité dans le but d'atteindre votre clientèle cible.</p>
			</div>
			<div class="box">
				<img alt="investissement d'un site internet" src="./asset/img/icon_investissement.png" />
				<h1>Investissement</h1>
				<p>Un investissement dans la création d'un site web est un investissement sur le long terme. Il vous permettra d'établir de nouvelles stratégies marketing et de communications.</p>
			</div>
		</div>